.button {
    display: block;
    width: 160px;
    height: 45px;
    background-color: var(--main-color);
    border: none;
    border-radius: 200px;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    &:hover {
        background-color: var(--active-color);
    }
    &_big {
        margin: 0 auto;
        margin-top: 35px;
        width: 230px;
        height: 60px;
        font-size: 15px;
        font-weight: 700;
    }
    &_forms {
        width: 180px;
        margin: 0 auto;
    }
    &_close {
        margin: 0 auto;
        margin-top: 20px;   
    }
}

  