.header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 100px;
        height: 100px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__hamburger {
        display: none;
    }
    &__menu {
        padding-top: 20px;
        padding-left: 5px;
        width: 600px;
        display: flex;
        color: #FFF;
        justify-content: space-between;
        list-style-type: none;
        &__item {
            font-size: 15px;
            line-height: 16px;
        }
        &__divider {
            width: 1px;
            height: 23px;
            border-right: 1px dotted #fff;
            opacity: 0.4;
        }
    }
    &__contact {
        width: 340px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text {
            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                text-align: right;
                color: #fff;
            }
        }
        &__phone {
            font-size: 19px;
            line-height: 24px;
            font-weight: 700;
        }
    }
}