.map {
    height: 500px;
    iframe {
        width: 100%;
        height: 500px;
    }
}
.footer {
    min-height: 200px;
    background-color: #25333c;
    &__wrapper {
        padding: 0 10px;
        display: grid;  
        align-items: center;
        &_top {
            height: 120px;
            grid-template-columns: 70px auto 340px;
        }
        &_bottom {
            height: 80px;
            grid-template-columns: 150px auto 110px 30px;
        }
    }
    &__img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        img {
            width: 100%;
        }
    }
    &__text {
        margin: 0 40px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #fff;
    }
    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text {
            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                text-align: right;
                color: #fff;
            }
        }
        &__phone {
            font-size: 19px;
            line-height: 24px;
            font-weight: 700;
        }
    }
    &__divider {
        width: 100%;
        height: 1px;
        background-color: #fff;
        opacity: 0.5;
    }
    &__copyright {
        margin-right: 5px;
        font-size: 13px;
        font-weight: 300;
        color: rgba(255,255,255,0.6);
        &__img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            img {
                width: 100%;
            }
        }
        &_link {
            justify-self: center;
            color: var(--main-color);    
            &:hover {
                border-bottom: none;
                text-decoration: underline;
                padding-bottom: 0;
            }
        }
    }
}