@media (max-width: 991px) {
    .button {
        &_big {
            margin-top: 20px;
        }
    }
}

@media (max-width: 767px) {
    .button {
        &:hover {
            background-color: var(--main-color);
        }
    }

    a {
        color: var(--main-color);
        &:hover {
            border-bottom: none;
        }
    }
}

@media (max-width: 575px) {
    .button {
        width: 125px;
        &_big {
            width: 200px;
        }
    }
}