@media (max-width: 991px) {
    .form {
        &__prices {
            &__wrapper {
                grid-template-columns: repeat(3, 220px);
            }
        }
        &__input {
            width: 220px;
            &__modal {
                width: 270px;
            }
        }
        &__questions {
            width: 750px;
            &__wrapper {
                grid-template-columns: repeat(3, 220px);
            }
        }
        &__textarea {
            width: 670px;
        }
    }
}

@media (max-width: 767px) {
    .form {
       &__prices {
            &__wrapper {
                grid-template-columns: 100%;
                align-items: center;           
            }
            label.error {
                border: none;
                text-align: center;
                font-size: 10px;
                color: red;
                order: 0;
            }
        }
        &__questions {
            width: 100%;
            label.error {
                border: none;
                text-align: center;
                font-size: 10px;
                color: red;
                order: 0;
            }
            &__title {
                font-size: 16px;
            }
            &__subtitle {
                font-size: 12px;
            }
            &__wrapper {
                grid-template-columns: 100%; 
                align-items: center;   
            }
            &__body {
                height: 380px;
            }
        }
        &__input {
            margin: 10px auto 10px auto;
            width: 70%;
            &__modal {
                width: 270px;
                margin: 0;
            }
        }
        &__textarea {
            width: 70%;
        }
    }
}