@media (max-width: 767px) {
    .services {
        padding: 50px 0;
    }
}

@media (max-width: 575px) {
    .services {
        padding: 30px 0;
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: repeat(auto-fit, 290px);
        }
        &__img {
            width: 290px;
            height: 190px;
        }
        &__descr {
            font-size: 12px;
        }
    }
}